public_dir="/etc/ssl/public"
base="/etc/ssl/private"
openssl_config=$( dirname $0 )/ca.cnf
user_base=$base/users/$comName
CA_KEY=$base/ca.key
CA_CRT=$base/ca.crt
CA_CRL=$base/ca.crl
CA_CRL_DAYS=720
CA_NAME="CA"
USER_KEY=$user_base/$comName.key
USER_CSR=$user_base/$comName.csr
USER_CRT=$user_base/$comName.crt
USER_P12=$user_base/$comName.p12
USER_PACK=$user_base/${comName}-certpack.tar.gz

COUNTRY_NAME=PL
STATE_NAME=Poland
CITY_NAME=Warsaw
ORGANIZATION_NAME=P4
UNIT_NAME=OAPI

SERVER_DOMAIN=server.com
SERVER_KEY=$base/apache.key
SERVER_CSR=$base/apache.csr
SERVER_CRT=$base/apache.crt
SERVER_REQEXTS=server_req
SERVER_ALT_NAME="DNS:www.server.com,DNS:www2.server.com"

CA_GROUP=ca_admins
